body
{
margin:0;
padding:50px;
text-align:center;
background:url(pass.jpg)no-repeat;
background-size:cover;
font-size:20px;
font-family:sans-serif;
 }
h1
{
  color:white;
font-family:impact;
font-size:50px;
padding:10px;
margin-bottom:30px;
padding:10px 0;
}
p
{
  color:white;
font-size:25px;
padding:10px;
margin-bottom:30px;
}
.textbox{
overflow:hidden;
font-size:20px;
padding:3px 0;
margin:2px 0;
box-sizing:border-box;
border-radius: 25px 25px ;
width:100%;

}
input[type=text] ,input[type=submit],input[type=email]{
width:20%;
height:8%;
border-radius: 25px 25px ;
border:none;
outline:none;
padding:15px;
}
.btn{
 margin:10px;
}
input[type=submit]:hover
{ background-color:green;
}
input[type=text]:hover
{ background-color:purple;
}
input[type=email]:hover
{ background-color:purple;
}
input[type=submit]
{ background-color:purple;
}
.textbox .message{
height:30%;
width:20%;
border:none;
padding:10px;
} 


